@page "/about"
<h3>О сайте</h3>
<p>
    Сайт является копией карты развития с сайта youit.pro, который ныне покоится в веб-архиве.
    Ознакомиться с ним можно по <a href="http://web.archive.org/web/20191226133330/https://youit.pro/map/dotnetweb#csharp">ссылке</a>.
</p>
<p>
    Изготовлено по технологии <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-6.0">Blazor WASM</a>. 
    Хостится с помощью Github Pages
</p>
<p>
    Похвалы и предложения по актуализации контента можно направлять в issue/pullrequests <a href="https://github.com/ShockThunder/NetRoadmap">этого репозитория</a>
    Там же можно и звёздочку поставить.
</p>
@code {
    
}