@page "/architecture"
<h2>Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</h2>
<table class="table table-striped table-bordered table-responsive w-auto m-auto">
    <thead>
    <tr>
        <th scope="col">Уровень</th>
        <th scope="col">Темы</th>
        <th scope="col">Материалы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <i class="map fas fa-star"></i>
        </td>
        <td>
            Трёхуровневая архитектура, Монолитная архитектура
        </td>
        <td>
            <a href="https://dic.academic.ru/dic.nsf/ruwiki/198141">Трёхуровневая архитектура</a> <i class="map fas fa-circle"></i>
            <a href="https://proglib.io/p/monolitnaya-vs-mikroservisnaya-arhitektura-2019-09-16">Монолитная vs Микросервисная архитектура</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i>
        </td>
        <td>
            Шаблон Model-View-Controller (MVC)
        </td>
        <td>
            <a href="https://www.tutorialspoint.com/design_pattern/mvc_pattern.htm">Design Patterns - MVC Pattern</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i>
        </td>
        <td>
            Клиент-серверная архитектура
        </td>
        <td>
            <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B8%D0%B5%D0%BD%D1%82_%E2%80%94_%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80">Клиент — сервер</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Микросервисная архитектура
        </td>
        <td>
            <a href="http://devopsru.com/news/2016-05-10-microservice-trade-offs.html">Микросервисы — за и против</a>
            <i class="map fas fa-circle"></i>
            <a href="https://habr.com/ru/post/305826/">Переход от монолита к микросервисам</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Шаблон Command Query Responsibility Segregation (CQRS)
        </td>
        <td>
            <a href="https://blog.byndyu.ru/2014/07/command-and-query-responsibility.html">Command and Query Responsibility Segregation (CQRS) на практике</a>
            <i class="map fas fa-circle"></i>
            <a href="https://martinfowler.com/bliki/CQRS.html">CQRS</a> <i class="map fas fa-circle"></i>
            <a href="https://enterprisecraftsmanship.com/posts/types-of-cqrs/">Types of CQRS</a> <i class="map fas fa-circle"></i>
            <a href="https://habr.com/ru/post/347908/">CQRS. Факты и заблуждения </a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Событийно-ориентированная архитектура (Event-driven architecture)
        </td>
        <td>
            <a href="https://aws.amazon.com/event-driven-architecture/">What is an Event-Driven Architecture?</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Шаблон Event Sourcing
        </td>
        <td>
            <a href="https://habr.com/ru/post/146429/">Введение в CQRS + Event Sourcing: Часть 1. Основы</a> <i class="map fas fa-circle"></i>
            <a href="https://microservices.io/patterns/data/event-sourcing.html">Pattern: Event sourcing</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Луковая архитектура (Onion architecture)
        </td>
        <td>
            <a href="https://habr.com/ru/post/233747/">Луковая архитектура. Часть 1 </a> <i class="map fas fa-circle"></i>
            <a href="https://www.thinktocode.com/2018/08/16/onion-architecture/">Onion Architecture </a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Совмещение CQRS и DDD
        </td>
        <td>
            <a href="https://github.com/dotnet-architecture/eShopOnContainers/wiki/Simplified-CQRS-and-DDD">Simplified CQRS and DDD</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Архитектурные анти-шаблоны
        </td>
        <td>
            <a href="https://sourcemaking.com/antipatterns/software-architecture-antipatterns">Software Architecture AntiPatterns</a>
        </td>
    </tr>

    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Serverless архитектура
        </td>
        <td>
            <a href="https://martinfowler.com/articles/serverless.html">Serverless Architectures</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Шаблоны корпоративных программных приложений
        </td>
        <td>
            <a href="https://www.martinfowler.com/eaaCatalog/">Catalog of Patterns of Enterprise Application Architecture </a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Неизменяемая архитектура (Immutable architecture)
        </td>
        <td>
            <a href="https://enterprisecraftsmanship.com/posts/immutable-architecture/">Immutable architecture</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Шаблоны интеграции корпоративных приложений
        </td>
        <td>
            <a href="https://www.enterpriseintegrationpatterns.com/">Шаблоны интеграции корпоративных приложений</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i>
        </td>
        <td>
            Атрибуты качества ПО (Software Quality Attributes)
        </td>
        <td>
            <a href="https://hackernoon.com/quality-attributes-in-software-architecture-3844ea482732">Quality attributes in Software Architecture</a> <i class="map fas fa-circle"></i>
            <a href="https://softwarearchitecturefordevelopers.com/">Software Architecture for Developers</a>
        </td>
    </tr>

    </tbody>
</table>


<h3>Контрольные вопросы:</h3>
<ul>
    <li>Какими конкретно уровнями представлена трехуровневая архитектура?</li>
    <li>Какие недостатки имеет монолитная архитектура?</li>
    <li>Какие преимущества микросервисной архитектуры над монолитной?</li>
    <li>Как взаимодействуют компоненты Модель, Контроллер и Представление в шаблоне MVC?</li>
    <li>В чем смысл шаблона CQRS?</li>
    <li>Опишите элементы Onion архитектуры и их взаимодействие?</li>
    <li>Как реализуется Serverless архитектура?</li>
    <li>К какому типу Software Requirments относятся атрибуты качества ПО?</li>
    <li>Какие атрибуты качества ПО вы знаете?</li>
    <li>В чем недостатки шаблоны интеграции Shared Database?</li>
    <li>Как два микросервиса могут взаимодействовать друг с другом/обмениваться данными?</li>
</ul>