@page "/"
@page "/contents"

<div class="container p-4">
    <Header></Header>
</div>
<h3>Содержание</h3>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th scope="col" class="">#</th>
    <th scope="col">Trainee</th>
    <th scope="col">Junior</th>
    <th scope="col">Middle</th>
    <th scope="col">Senior</th>
</tr>
</thead>
<tbody>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="csharp">Язык программирования C#</NavLink>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="net">.NET Framework / .NET Core</NavLink>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="codeQuality">Контроль качества кода / Рефакторинг</NavLink>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="concurrency">Многопоточность и Асинхронное программирование</NavLink>
    </td>
    <td></td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="testing">Модульное и интеграционное тестирование</NavLink>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="algorithms">Алгоритмы и Структуры Данных</NavLink>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="oop">Принципы объектно-ориентированного программирования (ООП)</NavLink>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="patterns">Шаблоны и принципы проектирования, SOLID</NavLink>
    </td>
    <td></td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="ddd">Предметно-ориентированное проектирование (Domain-driven design, DDD)</NavLink>
    </td>
    <td></td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="dalpatterns">Шаблоны уровня доступа к данным</NavLink>
    </td>
    <td></td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="dal">Фреймворки доступа к данным: Entity Framework, NHibernate, Dapper</NavLink>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="architecture">Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</NavLink>
    </td>
    <td></td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="asp">HTTP, REST, Веб-фреймворки: ASP.NET MVC / Web API / Core</NavLink>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="frontend">Фронтенд разработка: JavaScript / TypeScript / SPA фреймворки</NavLink>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="security">Веб-безопасность, Шифрование данных, OWASP</NavLink>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>

<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="microservices">Распределенные системы и Микросервисная архитектура</NavLink>
    </td>
    <td></td>
    <td></td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>

<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="db">Базы данных: T-SQL, MS SQL, NoSQL</NavLink>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>

<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="git">Системы контроля версий: Git, Mercurial, TFS</NavLink>
    </td>
    <td>
        <i class="bi bi-star-half"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
<tr>
    <td class="td-fit-content">
        <NavLink class="nav-link" href="processes">Методологии разработки: Scrum, Kanban и Scrumban</NavLink>
    </td>
    <td></td>
    <td>
        <i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
    <td>
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
    </td>
</tr>
</tbody>
</table>
</div>
@code {

}
