@page "/"

<PageTitle>Index</PageTitle>
<div class="container p-4">
    <Header></Header>
</div>
<div class="container p-4">
    <Contents></Contents>
</div>

<div class="container p-4">
    <ProgrammingLanguage></ProgrammingLanguage>
</div>

<div class="container p-4">
    <NetCore></NetCore>
</div>

<div class="container p-4">
    <CodeQuality></CodeQuality>
</div>

<div class="container p-4">
    <Concurrency></Concurrency>
</div>

<div class="container p-4">
    <Testing></Testing>
</div>