@page "/net"

<PageTitle>Net</PageTitle>
<h2>.NET Framework / .NET Core</h2>
<div class="table-responsive">
<table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th scope="col">Уровень</th>
    <th scope="col">Темы</th>
    <th scope="col">Материалы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i>
        </td>
        <td>Основы .NET Framework: CLR, CTS, JIT</td>
        <td>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">C# 10.0 in a Nutshell</a> 
            <i class="bi bi-circle-fill"></i>
            <a href="https://docs.microsoft.com/ru-ru/dotnet/framework/get-started/overview">Общие сведения о платформе .NET Framework</a>
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.amazon.com/CLR-via-4th-Developer-Reference/dp/0735667454">Книга СLR via C# by Jeffrey Richter, Глава 1</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i>
        </td>
        <td>Модель выполнения кода в среде CLR</td>
        <td>
            <a href="https://www.amazon.com/CLR-via-4th-Developer-Reference/dp/0735667454">Книга СLR via C# by Jeffrey Richter, Глава 1</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i>
        </td>
        <td>.NET Framework vs .NET Core</td>
        <td>
            <a href="https://stackify.com/net-core-vs-net-framework/">.NET Core vs .NET Framework: How to Pick a .NET Runtime for an Application</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i>
        </td>
        <td>Понимание .NET Standard</td>
        <td>
            <a href="https://dotnet.microsoft.com/platform/dotnet-standard">What is .NET Standard?</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>Архитектура .NET Framework и .NET Core</td>
        <td>
            <a href="https://www.amazon.com/CLR-via-4th-Developer-Reference/dp/0735667454">Книга СLR via C# by Jeffrey Richter, Глава 1</a>
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">Книга C# 10.0 in a Nutshell, Глава 1</a>
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.educba.com/what-is-dot-net-core/">.Net Core Architecture</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>Сборки: Содержимое сборок, Манифест, Управление версиями, GAC, Загрузка сборок...</td>
        <td>
            <a href="https://docs.microsoft.com/ru-ru/dotnet/standard/assembly/">Сборки в .NET</a>
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.amazon.com/CLR-via-4th-Developer-Reference/dp/0735667454">Книга СLR via C# by Jeffrey Richter, Главы 2, 3, 23</a>

        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>Домены приложения, Процесс vs Домен vs Поток, Класс AppDomain</td>
        <td>
            <a href="https://www.amazon.com/CLR-via-4th-Developer-Reference/dp/0735667454">Книга СLR via C# by Jeffrey Richter, Глава 22</a> 
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">Книга C# 10.0 in a Nutshell, Глава 24</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>
            Куча больших объектов (Large Object Heap), Конфигурация cборщика мусора, GC триггеры
        </td>
        <td>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">Книга C# 10.0 in a Nutshell, Глава 12</a> 
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.amazon.com/CLR-via-4th-Developer-Reference/dp/0735667454">Книга СLR via C# by Jeffrey Richter, Глава 21</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>Работа со счетчиками производительности (Performance Counters), Performance Monitor</td>
        <td>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">Книга C# 10.0 in a Nutshell, Глава 13</a> 
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.geeksforgeeks.org/unsafe-code-in-c-sharp/">Unsafe Code in C#</a> 
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.amazon.com/Pro-NET-Performance-Optimize-Applications/dp/1430244585">
                Книга Pro .NET Performance: Optimize Your C# Applications by Sasha Goldshtein, Главы 1-2
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>Работа с небезопасным кодом (Unsafe code) | Маршалинг</td>
        <td>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">Книга C# 10.0 in a Nutshell, Глава 25</a> 
            <i class="bi bi-circle-fill"></i>
            <a href="https://www.geeksforgeeks.org/unsafe-code-in-c-sharp/">Unsafe Code in C#</a>
        </td>
    </tr>
    <tr>
        <td>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </td>
        <td>Roslyn компилятор</td>
        <td>
            <a href="https://www.oreilly.com/library/view/c-10-in/9781098121945/">Книга C# 10.0 in a Nutshell, Глава 27</a>
        </td>
    </tr>
    </tbody>
</table>
</div>

<hr class="pt-2"/>
<h3>Контрольные вопросы:</h3>
<ul>
    <li>Что такое JIT-компиляция?</li>
    <li>В чем разница между Процессом и Доменом приложения?</li>
    <li>Зачем может понадобиться явно создавать дополнительный Домен приложения?</li>
    <li>Почему лучше избегать попадания в Large Object Heap и как?</li>
    <li>Какие режимы сборки мусора существуют?</li>
    <li>Какие конкретные счетчики производительности существуют в Windows?</li>
    <li>Какое предназначение у механизма Маршалинг?</li>
    <li>Что такое Roslyn?</li>
</ul>