<div class="text-center m-auto">
    <h3>Карта знаний .NET Web программиста</h3>
    <p>Детализированная карта знаний для .NET Web программистов от Trainee до Senior.
    Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения,
    подготовки к собеседованиям и продвижениям по карьерной лестнице.
    </p>
</div>

@code {}