<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%; min-height: 100vh;">
    <span class="fs-4">Net Roadmap</span>
    <hr>
    <div class="position-sticky pt-3">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <NavLink class="nav-link text-white" href="contents">
                    Содержание
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="csharp">
                    Язык программирования C#
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="net">
                    .NET Framework / .NET Core
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="codeQuality">
                    Контроль качества кода / Рефакторинг
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="concurrency">
                    Многопоточность и Асинхронное программирование
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="testing">
                    Модульное и интеграционное тестирование
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="algorithms">
                    Алгоритмы и Структуры Данных
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="oop">
                    Принципы объектно-ориентированного программирования (ООП)
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="patterns">
                    Шаблоны и принципы проектирования, SOLID
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="ddd">
                    Предметно-ориентированное проектирование (Domain-driven design, DDD)
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="dalpatterns">
                    Шаблоны уровня доступа к данным
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="dal">
                    Фреймворки доступа к данным: Entity Framework, Dapper
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="architecture">
                    Архитектурные шаблоны и Атрибуты качества (Quality Attributes)
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="asp">
                    HTTP, REST, Веб-фреймворки: ASP.NET MVC / Web API / Core
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="frontend">
                    Фронтенд разработка: JavaScript / TypeScript / SPA фреймворки
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="security">
                    Веб-безопасность, Шифрование данных, OWASP
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="microservices">
                    Распределенные системы и Микросервисная архитектура
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="db">
                    Базы данных: T-SQL, MS SQL, NoSQL
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link text-white" href="git">
                    Системы контроля версий: Git, Mercurial, TFS
                </NavLink>
            </li>
        </ul>
    </div>
</div>


@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">NetRoadmap</a> *@
@*         <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu"> *@
@*     <nav class="flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="contents" Match="NavLinkMatch.All"> *@
@*                 Contents *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="csharp"> *@
@*                 Язык программирования C# *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="net"> *@
@*                 .NET Framework / .NET Core *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="codeQuality"> *@
@*                 Контроль качества кода / Рефакторинг *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="concurrency"> *@
@*                 Многопоточность и Асинхронное программирование *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="testing"> *@
@*                 Модульное и интеграционное тестирование *@
@*             </NavLink> *@
@*         </div> *@
@*     </nav> *@
@* </div> *@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}