 <a id="testing"></a>
        <h2>Модульное и интеграционное тестирование</h2>  <a href="#top">Наверх</a>
        <table class="table table-striped table-bordered table-responsive w-auto m-auto">
            <thead>
                <tr>
                    <th scope="col">Уровень</th>
                    <th scope="col">Темы</th>
                    <th scope="col">Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="bi bi-star-half"></i></td>
                    <td>Цели юнит-тестирования</td>
                    <td>
                        <a href="https://habr.com/ru/post/169381/">Юнит-тестирование для чайников</a> <i class="bi bi-circle-fill"></i>
                        <a href="https://tproger.ru/translations/unit-tests-purposes/">Зачем нужны юнит-тесты</a> <i class="bi bi-circle-fill"></i>
                        <a href="https://www.amazon.com/Art-Unit-Testing-examples/dp/1617290890">Книга The Art of Unit Testing by Roy Osherove, Глава 1-2</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-half"></i></td>
                    <td>Методика тестирования черного, белого, серого ящиков</td>
                    <td>
                        <a href="https://habr.com/ru/company/mailru/blog/412695/">Общая картина модульного тестирования</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://qalight.com.ua/baza-znaniy/white-black-grey-box-testirovanie/">White/Black/Grey Box-тестирование</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Понятия Test Plan, Test Suite, Test case
                    </td>
                    <td>

                        <a href="https://www.testmonitor.com/blog/test-case-test-suite-test-run-whats-the-difference">
                            Test Case, Test Suite, Test Run, what’s the difference?
                        </a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://jazz.net/help-dev/clm/index.jsp?topic=%2Fcom.ibm.rational.test.qm.doc%2Ftopics%2Fc_testcase_overview.html">
                            Test cases and test suites
                        </a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Шаблон Arrange-Act-Assert (AAA)
                    </td>
                    <td>
                        <a href="https://youit.pro/map/dotnetweb">
                            Unit Testing and the Arrange, Act and Assert (AAA) Pattern
                        </a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Фреймворки модульного тестирования: NUnit или xUnit
                    </td>
                    <td>
                        <a href="https://nunit.org/docs/2.5.9/getStarted.html">NUnit Tutorial</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://xunit.net/docs/getting-started/netfx/visual-studio">xUnit Tutorial</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Изоляционные фреймворки: Moq, NSubstitute, FakeItEasy
                    </td>
                    <td>
                        <a href="https://riptutorial.com/moq">Moq Tutorial</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://nsubstitute.github.io/">NSubstitute Tutorial</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://fakeiteasy.readthedocs.io/en/stable/quickstart/">FakeItEasy Tutorial</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Тестовые заглушки: Dummy, Stub, Mock..
                    </td>
                    <td>
                        <a href="https://www.amazon.com/Art-Unit-Testing-examples/dp/1617290890">Книга The Art of Unit Testing by Roy Osherove, Глава 4</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Параметризованные тесты
                    </td>
                    <td>
                        <a href="https://www.amazon.com/Art-Unit-Testing-examples/dp/1617290890">Книга The Art of Unit Testing by Roy Osherove, Глава 2</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i></td>
                    <td>
                        Метрики покрытия кода тестами, NCover
                    </td>
                    <td>
                        <a href="https://habr.com/ru/company/pt/blog/323294/">Проблемы тестирования: почему 100% покрытие кода это плохо</a>
                        <i class="bi bi-circle-fill"></i> <a href="https://www.atlassian.com/continuous-delivery/software-testing/code-coverage">An introduction to code coverage</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Причины недетерминированного поведения юнит-тестов
                    </td>
                    <td>
                        <a herf="https://enterprisecraftsmanship.com/posts/non-determinism-tests/">Non-determinism in tests</a> <i class="bi bi-circle-fill"></i>
                        <a herf="https://martinfowler.com/articles/nonDeterminism.html">Eradicating Non-Determinism in Tests</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Принципы модульного тестирования F.I.R.S.T.
                    </td>
                    <td>
                        <a href="http://sergeyteplyakov.blogspot.com/2010/06/first-principles.html">Пять принципов чистых тестов (F.I.R.S.T. Principles)</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Тестовая пирамида: модульные, интеграционные, E2E тесты
                    </td>
                    <td>
                        <a href="https://habr.com/ru/post/358950/">Пирамида тестов на практике</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Test smells: Conditional test logic, Hard-to-test code,
                        Test code duplication, Assertion roulete, Fragile test, Test logic in production, Frequent Debugging, Slow Tests...
                    </td>
                    <td>
                        <i class="bi bi-circle-fill"></i> <a href="https://www.amazon.com/xUnit-Test-Patterns-Refactoring-Code/dp/0131495054">Книга xUnit Test Patterns: Refactoring Test Code by Gerard Meszaros, Главы 2, 15-17</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Стили юнит-тестирования: верификация результата (value-based), верификация состояния (state-based), верификация взаимодействия (interaction testing)

                    </td>
                    <td>
                        <a href="https://www.amazon.com/Art-Unit-Testing-examples/dp/1617290890">Книга The Art of Unit Testing by Roy Osherove, Глава 4</a> <i class="bi bi-circle-fill"></i>
                        <a href="https://enterprisecraftsmanship.com/posts/styles-of-unit-testing/">Styles of unit testing</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Data-driven Tests
                    </td>
                    <td>
                        <a href="https://www.amazon.com/xUnit-Test-Patterns-Refactoring-Code/dp/0131495054">Книга xUnit Test Patterns: Refactoring Test Code by Gerard Meszaros, Глава 18</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        AutoFixture
                    </td>
                    <td>
                        <a href="https://github.com/AutoFixture/AutoFixture">AutoFixture</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Интеграционные тесты
                    </td>
                    <td>
                        <a href="https://www.wiliam.com.au/wiliam-blog/integration-testing-in-net">Integration testing in .NET</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1">Integration tests in ASP.NET Core</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://www.thinktecture.com/entity-framework/entity-framework-core-isolation-of-integration-tests/">Entity Framework Core - Isolation of Integration Tests</a>
                        <i class="bi bi-circle-fill"></i>
                        <a href="https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/in-memory">Testing with InMemory</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Шаблоны модульного тестирования
                    </td>
                    <td>
                        <a href="https://www.amazon.com/xUnit-Test-Patterns-Refactoring-Code/dp/0131495054">Книга xUnit Test Patterns: Refactoring Test Code by Gerard Meszaros</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Модульные тесты для унаследованного кода
                    </td>
                    <td>
                        <a href="https://www.amazon.com/Art-Unit-Testing-examples/dp/1617290890">Книга The Art of Unit Testing by Roy Osherove, Глава 10</a> <i class="bi bi-circle-fill"></i>
                        <a href="https://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052">Книга Working Effectively with Legacy Code by Michael Feathers</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    <td>
                        Разработка через тестирование (Test-driven development, TDD)
                    </td>
                    <td>
                        <a href="https://www.amazon.com/Test-Driven-Development-Kent-Beck/dp/0321146530">Книга Test Driven Development by Kent Beck</a>

                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Что именно тестируют модульные тесты?</li>
            <li>В чем разница между Модульными и Интеграционными тестами?</li>
            <li>Что такое AAA шаблон?</li>
            <li>Чем Stub отличается от Mock?</li>
            <li>C какими Code Smells в модульных тестах Вы сталкивались?</li>
            <li>Как измерить процент покрытия кода модульными тестами?</li>
            <li>Почему тяжело тестировать код, использующий шаблон Синглтон?</li>
            <li>Какие шаблоны модульного тестирования Вам знакомы?</li>
            <li>Нужно ли тестировать приватные методы класса?</li>
            <li>Опишите процесс разработки через тестирование?</li>
            <li>Что такое Data-driven тесты?</li>
        </ul>
